<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - Google Keep Clone</title>
  {% block head %}{% endblock %}
</head>
<nav>
  <h1>Google Keep Clone</h1>
  <ul>
    {% if session.get('user_id') %}
    <form action="{{ url_for('auth.logout') }}" method="post">
      <label for="logout_button">{{ session.get('username') }}</label>
      <input type="submit" name="logout_button" id="logout_button" value="Log out">
    </form>
      <!-- <li><span>{{ session.get('username') }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a> -->
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>