{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
    {% if session['user_id'] %}    
        <h1>Hello {{session['username']}}</h1>

        <form method="post">
            <input type="text" name="search_expression" placeholder="Search notes..." 
                {% if search_expression %}    
                    value="{{search_expression}}"
                {% endif %}
            >
            <input type="submit" name="search_button" value="Search">
            <input type="submit" name="clear_search" value="Clear search">
        </form>
        
        <section class="filter_tags">
            <p>Filter notes by tags:</p>
            <form method="post">
                {% for tag in tags %}
                <input type="checkbox" 
                name="filter_tag"
                id="filter_{{tag['id']}}"
                value="{{tag['name']}}"
                {% if tag['name'] in selected_filter_tags %}
                checked
                {% endif %}
                >
                <label for="filter_{{tag['id']}}">{{tag['name']}}</label>
                {% endfor %}
                <input type="submit" name="apply_filter" value="Apply filter">
                <input type="submit" name="clear_filter" value="Clear filter">
            </form>
        </section>

        <a href="{{ url_for('tags.edit') }}">Edit tags</a> <br>

        <section class="sort_notes">
            <p>Sort notes by due date:</p>
            <form method="post">
                <input type="radio"
                       name="sorting_type"
                       id="radio_ascending"
                       value="ascending"
                       required
                       {% if sorting_type == 'ascending' %}
                       checked
                       {% endif %}
                       >
                <label for="radio_ascending">Ascending</label>
                <input type="radio"
                       name="sorting_type"
                       id="radio_descending"
                       value="descending"
                       required
                       {% if sorting_type == 'descending' %}
                       checked
                       {% endif %}
                       >
                <label for="radio_descending">Descending</label>
                <input type="submit" name="submit_sorting" id="submit_sorting" value="Sort">
                <input type="submit" name="clear_sorting" id="clear_sorting" value="Clear sorting">
            </form>
        </section>


        <a href="{{ url_for('notes.create') }}">Create a new note</a>

        {% for note in notes %}
            <section class="note-preview">
                <h3>{{note['title']}}</h3>
                <p>{{note['content'][:50]}}{% if len(note['content']) > 50 %}...{% endif %}</p>
                {% if note['tags'] != "" %}
                    <p>Tags: {{note['tags']}}</p>
                {% else %}
                    <p>No tags</p>
                {% endif %}
                {% if note['due_date'] %}
                    <p>Due date: {{ note['due_date'] }}</p>
                {% else %}
                    <p>No due date</p>
                {% endif %}
                <a href="{{url_for('notes.edit', note_id=note['id'])}}">View note</a>
                 <form action="{{ url_for('notes.delete', note_id=note['id']) }}" method="post">  
                    <input type="submit" name="delete-note-button" id="delete-note-button" value="Delete note">
                 </form>
            </section>
        {% endfor %}
    {% else %}
        <h1>Welcome! Log in to take notes.</h1>
    {% endif %}
{% endblock %}
