{% extends 'base.html' %}

{% set title_creating = 'Create note' %}
{% set title_editing = 'View note' %}

{% block title %}
    {% if not current_note %}
        {{title_creating}}
    {% else %}
        {{title_editing}}
    {% endif %}
{% endblock %}

{% block header %}
    {% if not current_note %}
        <h1>{{title_creating}}</h1>
    {% else%}
        <h1>{{title_editing}}</h1>
    {% endif %}
    <a href="{{url_for('notes.index')}}">Back to all notes</a>
{% endblock %}

{% block content %}
    {% if current_note %}
        <p>Last edited: {{ current_note['updated_at'] }}</p>
    {% endif %}
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ current_note['title'] }}" required>
        <label for="content">Content</label>
        <textarea name="content" id="content" rows="10" cols="50" required>{{ current_note['content'] }}</textarea>
        <input type="submit" value="Save">
    </form>
{% endblock %}